/*
 * General Styles
*/


body {
  background: url('../images/monkeys.jpg');
  font-family: 'Open Sans', arial, sans-serif;
  background-attachment: fixed;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.container section:nth-child(even){
  background: #F2E8C4;
}

.container section:nth-child(odd){
  background: #E9B39E;
}

p {
  font-size: 1rem;
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #428562;
  text-align: center;
  margin-bottom: 32px;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.8125rem;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;
}

.intro {
  padding: 40px;
}

.hero img {
  width:100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hero {
  line-height: 0;
}

.contact {
  padding: 40px;
  text-align: center;
}

aside.right {
  float: right;
}

aside.right img {
  width: 300px;
}

aside.left {
  float: left;
}

aside.left img {
  width: 180px;
}

footer {
  background: #F2E8C4;
  text-align: center;
  padding: 10px;
  margin: 0;
}

p.foot {
  margin:0;
}

.map iframe {
  width: 600px;
  height: 450px;
}
