/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background: #99CBAC;
	font-family: 'Commissioner', sans-serif;
}

.container {
	text-align: center;
	width: 75%;
	margin: 0 auto;
	background: white;
}

li {
	list-style-position: outside;
}

@media only screen and (min-width: 800px) {
	.container {
		width: 820px;
	}
}


