.container {
  width: 100%;
  text-align: center;
}

.container1{
  height: auto;
}

/* header */

.dog img {
  height: auto;
}


/*---------------------------------------------*/


/* profile */

.profile {
  padding: 15px;
  text-align: center;
}

/*---------------------------------------------*/

/* owner-details */

.owner-details {
  float:none;
}


/*---------------------------------------------*/

/* pet-details */

.pet-details {
  float: none;
}


/*---------------------------------------------*/

/* icons */

.icons {
  float: none;
}

/*---------------------------------------------*/

/* booking */

.booking {
  float: none;
}

/*---------------------------------------------*/

/* lower */



/*---------------------------------------------*/

/* about */



/*---------------------------------------------*/

/* care */



/*---------------------------------------------*/

/* games */



/*---------------------------------------------*/

/* photos */



/*---------------------------------------------*/